<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2013/ACAS">Acas</option>
    <option value="2013/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2013/ANHVLA">Animal Health and Veterinary Laboratories Agency</option>
    <option value="2013/ATTGEN">Attorney General's Office</option>
    <option value="2013/CABOFF">Cabinet Office</option>
    <option value="2013/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2013/CRTCOM">Charity Commission</option>
    <option value="2013/CMPHSE">Companies House</option>
    <option value="2013/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2013/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2013/CRNPRS">Crown Prosecution Service</option>
    <option value="2013/DEFSUP">Defence Support Group</option>
    <option value="2013/BUSINV">Department for Business, Innovation and Skills</option>
    <option value="2013/COMLGV">Department for Communities and Local Government</option>
    <option value="2013/CLMDSP">Department for Culture, Media and Sport</option>
    <option value="2013/EDUCAT">Department for Education</option>
    <option value="2013/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2013/INTDEV">Department for International Development</option>
    <option value="2013/TRNSPT">Department for Transport</option>
    <option value="2013/WRKPEN">Department for Work and Pensions</option>
    <option value="2013/ENGCLM">Department of Energy and Climate Change</option>
    <option value="2013/HEALTH">Department of Health and Social Care</option>
    <option value="2013/DSCSCT">Disclosure Scotland</option>
    <option value="2013/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2013/DRVSTD">Driving Standards Agency</option>
    <option value="2013/DSTL">Dstl</option>
    <option value="2013/EDUSCT">Education Scotland</option>
    <option value="2013/ESTYN">Estyn</option>
    <option value="2013/FCDSRV">FCDO Services</option>
    <option value="2013/FDSTDS">Food Standards Agency</option>
    <option value="2013/FDENRS">Food and Environment Research Agency</option>
    <option value="2013/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2013/GVACTS">Government Actuary's Department</option>
    <option value="2013/GVPRCM">Government Procurement Service</option>
    <option value="2013/HMCPSI">HM CPS Inspectorate</option>
    <option value="2013/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2013/LNDREG">HM Land Registry</option>
    <option value="2013/PSSOFF">HM Passport Office</option>
    <option value="2013/HMRC">HM Revenue and Customs</option>
    <option value="2013/HMTRES">HM Treasury</option>
    <option value="2013/HELSFT">Health and Safety Executive</option>
    <option value="2013/HIGHAG">Highways Agency</option>
    <option value="2013/HISTSC">Historic Scotland</option>
    <option value="2013/HOMEOF">Home Office</option>
    <option value="2013/BRDFCE">Home Office: Border Force</option>
    <option value="2013/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2013/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2013/INTPRP">Intellectual Property Office</option>
    <option value="2013/LEGAID">Legal Aid Agency</option>
    <option value="2013/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2013/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2013/METOFF">Met Office</option>
    <option value="2013/MINDEF">Ministry of Defence</option>
    <option value="2013/MINJST">Ministry of Justice</option>
    <option value="2013/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2013/NATCRM">National Crime Agency</option>
    <option value="2013/NATMSR">National Measurement and Regulation Office</option>
    <option value="2013/NTOFSV">National Offender Management Service</option>
    <option value="2013/NTRCSC">National Records of Scotland</option>
    <option value="2013/NATSAV">National Savings and Investments</option>
    <option value="2013/ONS">Office for National Statistics</option>
    <option value="2013/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2013/FAIRTD">Office of Fair Trading</option>
    <option value="2013/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2013/OFRLRD">Office of Rail and Road</option>
    <option value="2013/OFPBGD">Office of the Public Guardian</option>
    <option value="2013/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2013/ORDSRV">Ordnance Survey</option>
    <option value="2013/PLNISP">Planning Inspectorate</option>
    <option value="2013/PUBHEL">Public Health England</option>
    <option value="2013/REGSCT">Registers of Scotland</option>
    <option value="2013/RURPAY">Rural Payments Agency</option>
    <option value="2013/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2013/SCTCTS">Scottish Court Service</option>
    <option value="2013/SCTGVT">Scottish Government</option>
    <option value="2013/SCTHUS">Scottish Housing Regulator</option>
    <option value="2013/SCTPRS">Scottish Prison Service</option>
    <option value="2013/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2013/SCTTRB">Scottish Tribunals Service</option>
    <option value="2013/SRSFRD">Serious Fraud Office</option>
    <option value="2013/SKLFND">Skills Funding Agency</option>
    <option value="2013/STAWSC">Student Awards Agency Scotland</option>
    <option value="2013/INSOLV">The Insolvency Service</option>
    <option value="2013/NATARC">The National Archives</option>
    <option value="2013/RYLPRK">The Royal Parks</option>
    <option value="2013/TRNSCT">Transport Scotland</option>
    <option value="2013/TSOL">Treasury Solicitor's Department</option>
    <option value="2013/UKDMO">UK Debt Management Office</option>
    <option value="2013/EXPFIN">UK Export Finance</option>
    <option value="2013/HYDROG">UK Hydrographic Office</option>
    <option value="2013/UKSTAT">UK Statistics Agency</option>
    <option value="2013/UKTRDI">UK Trade and Investment</option>
    <option value="2013/VALOFF">Valuation Office Agency</option>
    <option value="2013/VEHCRT">Vehicle Certification Agency</option>
    <option value="2013/VEHOPP">Vehicle and Operator Services Agency</option>
    <option value="2013/VETMED">Veterinary Medicines Directorate</option>
    <option value="2013/WLSGVT">Welsh Government</option>
    <option value="2013/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
