<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2014/ACAS">Acas</option>
    <option value="2014/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2014/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2014/ATTGEN">Attorney General's Office</option>
    <option value="2014/CABOFF">Cabinet Office</option>
    <option value="2014/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2014/CRTCOM">Charity Commission</option>
    <option value="2014/CMPHSE">Companies House</option>
    <option value="2014/CMPMKT">Competition and Markets Authority</option>
    <option value="2014/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2014/CRNCOM">Crown Commercial Service</option>
    <option value="2014/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2014/CRNPRS">Crown Prosecution Service</option>
    <option value="2014/DEFEQP">Defence Equipment and Support</option>
    <option value="2014/DEFSUP">Defence Support Group</option>
    <option value="2014/BUSINV">Department for Business, Innovation and Skills</option>
    <option value="2014/COMLGV">Department for Communities and Local Government</option>
    <option value="2014/CLMDSP">Department for Culture, Media and Sport</option>
    <option value="2014/EDUCAT">Department for Education</option>
    <option value="2014/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2014/INTDEV">Department for International Development</option>
    <option value="2014/TRNSPT">Department for Transport</option>
    <option value="2014/WRKPEN">Department for Work and Pensions</option>
    <option value="2014/ENGCLM">Department of Energy and Climate Change</option>
    <option value="2014/HEALTH">Department of Health and Social Care</option>
    <option value="2014/DSCSCT">Disclosure Scotland</option>
    <option value="2014/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2014/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2014/DSTL">Dstl</option>
    <option value="2014/EDUSCT">Education Scotland</option>
    <option value="2014/ESTYN">Estyn</option>
    <option value="2014/FCDSRV">FCDO Services</option>
    <option value="2014/FDSTDS">Food Standards Agency</option>
    <option value="2014/FDENRS">Food and Environment Research Agency</option>
    <option value="2014/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2014/GVACTS">Government Actuary's Department</option>
    <option value="2014/HMCPSI">HM CPS Inspectorate</option>
    <option value="2014/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2014/ISPCNS">HM Inspectorate of Constabulary</option>
    <option value="2014/LNDREG">HM Land Registry</option>
    <option value="2014/PSSOFF">HM Passport Office</option>
    <option value="2014/PRISON">HM Prison Service</option>
    <option value="2014/HMRC">HM Revenue and Customs</option>
    <option value="2014/HMTRES">HM Treasury</option>
    <option value="2014/HELSFT">Health and Safety Executive</option>
    <option value="2014/HIGHAG">Highways Agency</option>
    <option value="2014/HISTSC">Historic Scotland</option>
    <option value="2014/HOMEOF">Home Office</option>
    <option value="2014/BRDFCE">Home Office: Border Force</option>
    <option value="2014/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2014/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2014/INTPRP">Intellectual Property Office</option>
    <option value="2014/LEGAID">Legal Aid Agency</option>
    <option value="2014/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2014/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2014/METOFF">Met Office</option>
    <option value="2014/MINDEF">Ministry of Defence</option>
    <option value="2014/MINJST">Ministry of Justice</option>
    <option value="2014/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2014/NATCRM">National Crime Agency</option>
    <option value="2014/NATMSR">National Measurement and Regulation Office</option>
    <option value="2014/NOMSHQ">National Offender Management Service headquarters</option>
    <option value="2014/NATPRB">National Probation Service</option>
    <option value="2014/NTRCSC">National Records of Scotland</option>
    <option value="2014/NATSAV">National Savings and Investments</option>
    <option value="2014/ONS">Office for National Statistics</option>
    <option value="2014/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2014/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2014/OFRLRD">Office of Rail and Road</option>
    <option value="2014/OFPBGD">Office of the Public Guardian</option>
    <option value="2014/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2014/ORDSRV">Ordnance Survey</option>
    <option value="2014/PLNISP">Planning Inspectorate</option>
    <option value="2014/PUBHEL">Public Health England</option>
    <option value="2014/REGSCT">Registers of Scotland</option>
    <option value="2014/RURPAY">Rural Payments Agency</option>
    <option value="2014/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2014/SCTCTS">Scottish Court Service</option>
    <option value="2014/SCTGVT">Scottish Government</option>
    <option value="2014/SCTHUS">Scottish Housing Regulator</option>
    <option value="2014/SCTPRS">Scottish Prison Service</option>
    <option value="2014/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2014/SCTTRB">Scottish Tribunals Service</option>
    <option value="2014/SRSFRD">Serious Fraud Office</option>
    <option value="2014/SKLFND">Skills Funding Agency</option>
    <option value="2014/STAWSC">Student Awards Agency Scotland</option>
    <option value="2014/INSOLV">The Insolvency Service</option>
    <option value="2014/NATARC">The National Archives</option>
    <option value="2014/RYLPRK">The Royal Parks</option>
    <option value="2014/TRNSCT">Transport Scotland</option>
    <option value="2014/TSOL">Treasury Solicitor's Department</option>
    <option value="2014/UKDMO">UK Debt Management Office</option>
    <option value="2014/EXPFIN">UK Export Finance</option>
    <option value="2014/HYDROG">UK Hydrographic Office</option>
    <option value="2014/UKSTAT">UK Statistics Agency</option>
    <option value="2014/UKTRDI">UK Trade and Investment</option>
    <option value="2014/VALOFF">Valuation Office Agency</option>
    <option value="2014/VEHCRT">Vehicle Certification Agency</option>
    <option value="2014/VETMED">Veterinary Medicines Directorate</option>
    <option value="2014/WLSGVT">Welsh Government</option>
    <option value="2014/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
