<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2010/ACAS">Acas</option>
    <option value="2010/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2010/ANMHEL">Animal Health</option>
    <option value="2010/ATTGEN">Attorney General's Office</option>
    <option value="2010/CABOFF">Cabinet Office</option>
    <option value="2010/COFINF">Central Office of Information</option>
    <option value="2010/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2010/CRTCOM">Charity Commission</option>
    <option value="2010/CMECCE">Child Maintenance and Enforcement Commission: Commission Executive</option>
    <option value="2010/CMECCS">Child Maintenance and Enforcement Commission: Corporate Services</option>
    <option value="2010/CLDSUP">Child Support Agency</option>
    <option value="2010/CMPHSE">Companies House</option>
    <option value="2010/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2010/CRMRCD">Criminal Records Bureau</option>
    <option value="2010/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2010/CRNPRS">Crown Prosecution Service</option>
    <option value="2010/DEFSUP">Defence Support Group</option>
    <option value="2010/BUSINV">Department for Business, Innovation and Skills</option>
    <option value="2010/COMLGV">Department for Communities and Local Government</option>
    <option value="2010/CLMDSP">Department for Culture, Media and Sport</option>
    <option value="2010/EDUCAT">Department for Education</option>
    <option value="2010/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2010/INTDEV">Department for International Development</option>
    <option value="2010/TRNSPT">Department for Transport</option>
    <option value="2010/WRKPEN">Department for Work and Pensions</option>
    <option value="2010/ENGCLM">Department of Energy and Climate Change</option>
    <option value="2010/HEALTH">Department of Health and Social Care</option>
    <option value="2010/DSCSCT">Disclosure Scotland</option>
    <option value="2010/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2010/DRVSTD">Driving Standards Agency</option>
    <option value="2010/DSTL">Dstl</option>
    <option value="2010/ESTYN">Estyn</option>
    <option value="2010/FCDSRV">FCDO Services</option>
    <option value="2010/FRSVCL">Fire Service College</option>
    <option value="2010/FDSTDS">Food Standards Agency</option>
    <option value="2010/FDENRS">Food and Environment Research Agency</option>
    <option value="2010/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2010/GREGSC">General Register Office for Scotland</option>
    <option value="2010/GVACTS">Government Actuary's Department</option>
    <option value="2010/GVCARD">Government Car and Despatch Agency</option>
    <option value="2010/GOVEQU">Government Equalities Office</option>
    <option value="2010/GVOFNT">Government Office Network</option>
    <option value="2010/HMCPSI">HM CPS Inspectorate</option>
    <option value="2010/CRTSRV">HM Courts Service</option>
    <option value="2010/HMIEDU">HM Inspectorate of Education</option>
    <option value="2010/LNDREG">HM Land Registry</option>
    <option value="2010/HMRC">HM Revenue and Customs</option>
    <option value="2010/HMTRES">HM Treasury</option>
    <option value="2010/HELSFT">Health and Safety Executive</option>
    <option value="2010/HIGHAG">Highways Agency</option>
    <option value="2010/HISTSC">Historic Scotland</option>
    <option value="2010/HOMEOF">Home Office</option>
    <option value="2010/IDPASS">Identity and Passport Service</option>
    <option value="2010/INTPRP">Intellectual Property Office</option>
    <option value="2010/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2010/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2010/METOFF">Met Office</option>
    <option value="2010/MINDEF">Ministry of Defence</option>
    <option value="2010/MINJST">Ministry of Justice</option>
    <option value="2010/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2010/NARCSC">National Archives of Scotland</option>
    <option value="2010/NATMSR">National Measurement and Regulation Office</option>
    <option value="2010/NTOFSV">National Offender Management Service</option>
    <option value="2010/NATSAV">National Savings and Investments</option>
    <option value="2010/NTSCGV">National School of Government</option>
    <option value="2010/BUYSOL">OGC Buying Solutions</option>
    <option value="2010/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2010/FAIRTD">Office of Fair Trading</option>
    <option value="2010/OFGVCM">Office of Government Commerce</option>
    <option value="2010/OFRLRD">Office of Rail and Road</option>
    <option value="2010/OFPBGD">Office of the Public Guardian</option>
    <option value="2010/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2010/ORDSRV">Ordnance Survey</option>
    <option value="2010/PLNISP">Planning Inspectorate</option>
    <option value="2010/REGSCT">Registers of Scotland</option>
    <option value="2010/RURPAY">Rural Payments Agency</option>
    <option value="2010/SCTWLS">Scotland Office, Office of the Advocate General and Wales Office</option>
    <option value="2010/SCTCTS">Scottish Court Service</option>
    <option value="2010/SCTGVT">Scottish Government</option>
    <option value="2010/SCTHUS">Scottish Housing Regulator</option>
    <option value="2010/SCTPRS">Scottish Prison Service</option>
    <option value="2010/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2010/SRSFRD">Serious Fraud Office</option>
    <option value="2010/SWISPE">Social Work Inspection Agency</option>
    <option value="2010/STAWSC">Student Awards Agency Scotland</option>
    <option value="2010/INSOLV">The Insolvency Service</option>
    <option value="2010/NATARC">The National Archives</option>
    <option value="2010/RYLPRK">The Royal Parks</option>
    <option value="2010/TRNSCT">Transport Scotland</option>
    <option value="2010/TSOL">Treasury Solicitor's Department</option>
    <option value="2010/TRBSRV">Tribunals Service</option>
    <option value="2010/UKBRDA">UK Border Agency</option>
    <option value="2010/UKDMO">UK Debt Management Office</option>
    <option value="2010/EXPFIN">UK Export Finance</option>
    <option value="2010/HYDROG">UK Hydrographic Office</option>
    <option value="2010/STATGP">UK Statistics Agency (group)</option>
    <option value="2010/VALOFF">Valuation Office Agency</option>
    <option value="2010/VEHCRT">Vehicle Certification Agency</option>
    <option value="2010/VEHOPP">Vehicle and Operator Services Agency</option>
    <option value="2010/VETLAB">Veterinary Laboratories Agency</option>
    <option value="2010/VETMED">Veterinary Medicines Directorate</option>
    <option value="2010/WLSGVT">Welsh Government</option>
    <option value="2010/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
