<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2024/ACAS">Acas</option>
    <option value="2024/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2024/ACTREN">Active Travel England</option>
    <option value="2024/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2024/ATTGEN">Attorney General's Office</option>
    <option value="2024/BLDDIG">Building Digital UK</option>
    <option value="2024/CABOFF">Cabinet Office</option>
    <option value="2024/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2024/CRTCOM">Charity Commission</option>
    <option value="2024/CMPHSE">Companies House</option>
    <option value="2024/CMPMKT">Competition and Markets Authority</option>
    <option value="2024/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2024/CRNCOM">Crown Commercial Service</option>
    <option value="2024/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2024/CRNPRS">Crown Prosecution Service</option>
    <option value="2024/DEFEQP">Defence Equipment and Support</option>
    <option value="2024/BUSTRD">Department for Business and Trade</option>
    <option value="2024/CLMDSP">Department for Culture, Media and Sport</option>
    <option value="2024/EDUCAT">Department for Education</option>
    <option value="2024/ENGNET">Department for Energy Security and Net Zero</option>
    <option value="2024/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2024/SCITCH">Department for Science, Innovation and Technology</option>
    <option value="2024/TRNSPT">Department for Transport</option>
    <option value="2024/WRKPEN">Department for Work and Pensions</option>
    <option value="2024/HEALTH">Department of Health and Social Care</option>
    <option value="2024/DSCSCT">Disclosure Scotland</option>
    <option value="2024/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2024/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2024/DSTL">Dstl</option>
    <option value="2024/EDUSCT">Education Scotland</option>
    <option value="2024/ESTYN">Estyn</option>
    <option value="2024/FCDSRV">FCDO Services</option>
    <option value="2024/FDSTDS">Food Standards Agency</option>
    <option value="2024/FDSTSC">Food Standards Scotland</option>
    <option value="2024/FRCMDV">Foreign, Commonwealth and Development Office</option>
    <option value="2024/FRLDSC">Forestry and Land Scotland</option>
    <option value="2024/GVACTS">Government Actuary's Department</option>
    <option value="2024/INTAUD">Government Internal Audit Agency</option>
    <option value="2024/GOVLEG">Government Legal Department</option>
    <option value="2024/GVPRPT">Government Property Agency</option>
    <option value="2024/HMCPSI">HM CPS Inspectorate</option>
    <option value="2024/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2024/ISCFRS">HM Inspectorate of Constabulary and Fire and Rescue Services</option>
    <option value="2024/LNDREG">HM Land Registry</option>
    <option value="2024/PRISON">HM Prison Service</option>
    <option value="2024/PRPBHQ">HM Prison and Probation Service Headquarters</option>
    <option value="2024/HMRC">HM Revenue and Customs</option>
    <option value="2024/HMTRES">HM Treasury</option>
    <option value="2024/HELSFT">Health and Safety Executive</option>
    <option value="2024/HOMEOF">Home Office</option>
    <option value="2024/APPTCH">Institute for Apprenticeships and Technical Education</option>
    <option value="2024/INTPRP">Intellectual Property Office</option>
    <option value="2024/LEGAID">Legal Aid Agency</option>
    <option value="2024/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2024/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2024/METOFF">Met Office</option>
    <option value="2024/MINDEF">Ministry of Defence</option>
    <option value="2024/HSCMLG">Ministry of Housing, Communities and Local Government</option>
    <option value="2024/MINJST">Ministry of Justice</option>
    <option value="2024/JSTGRP">Ministry of Justice (group)</option>
    <option value="2024/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2024/NATCRM">National Crime Agency</option>
    <option value="2024/NATINF">National Infrastructure Commission</option>
    <option value="2024/NTRCSC">National Records of Scotland</option>
    <option value="2024/NATSAV">National Savings and Investments</option>
    <option value="2024/ONS">Office for National Statistics</option>
    <option value="2024/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2024/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2024/OFQUAL">Office of Qualifications and Examinations Regulation</option>
    <option value="2024/OFRLRD">Office of Rail and Road</option>
    <option value="2024/OFPBGD">Office of the Public Guardian</option>
    <option value="2024/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2024/PLNISP">Planning Inspectorate</option>
    <option value="2024/PRBSRV">Probation Service</option>
    <option value="2024/REGSCT">Registers of Scotland</option>
    <option value="2024/REVSCT">Revenue Scotland</option>
    <option value="2024/RURPAY">Rural Payments Agency</option>
    <option value="2024/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2024/SCTCTR">Scottish Courts and Tribunals Service</option>
    <option value="2024/SCFRST">Scottish Forestry</option>
    <option value="2024/SCTGVT">Scottish Government</option>
    <option value="2024/SCTHUS">Scottish Housing Regulator</option>
    <option value="2024/SCTPRS">Scottish Prison Service</option>
    <option value="2024/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2024/SRSFRD">Serious Fraud Office</option>
    <option value="2024/SCSESC">Social Security Scotland</option>
    <option value="2024/STAWSC">Student Awards Agency Scotland</option>
    <option value="2024/SUBDEL">Submarine Delivery Agency</option>
    <option value="2024/INSOLV">The Insolvency Service</option>
    <option value="2024/NATARC">The National Archives</option>
    <option value="2024/TRNSCT">Transport Scotland</option>
    <option value="2024/UKDMO">UK Debt Management Office</option>
    <option value="2024/EXPFIN">UK Export Finance</option>
    <option value="2024/HELSEC">UK Health Security Agency</option>
    <option value="2024/HYDROG">UK Hydrographic Office</option>
    <option value="2024/UKSPCE">UK Space Agency</option>
    <option value="2024/UKSTAT">UK Statistics Agency</option>
    <option value="2024/STATGP">UK Statistics Agency (group)</option>
    <option value="2024/VALOFF">Valuation Office Agency</option>
    <option value="2024/VEHCRT">Vehicle Certification Agency</option>
    <option value="2024/VETMED">Veterinary Medicines Directorate</option>
    <option value="2024/OFWAT">Water Services Regulation Authority (Ofwat)</option>
    <option value="2024/WLSGVT">Welsh Government</option>
    <option value="2024/WLSREV">Welsh Revenue Authority</option>
    <option value="2024/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
