<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2015/ACAS">Acas</option>
    <option value="2015/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2015/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2015/ATTGEN">Attorney General's Office</option>
    <option value="2015/CABOFF">Cabinet Office</option>
    <option value="2015/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2015/CRTCOM">Charity Commission</option>
    <option value="2015/CMPHSE">Companies House</option>
    <option value="2015/CMPMKT">Competition and Markets Authority</option>
    <option value="2015/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2015/CRNCOM">Crown Commercial Service</option>
    <option value="2015/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2015/CRNPRS">Crown Prosecution Service</option>
    <option value="2015/DEFELC">Defence Electronics and Components Agency</option>
    <option value="2015/DEFEQP">Defence Equipment and Support</option>
    <option value="2015/BUSINV">Department for Business, Innovation and Skills</option>
    <option value="2015/COMLGV">Department for Communities and Local Government</option>
    <option value="2015/CLMDSP">Department for Culture, Media and Sport</option>
    <option value="2015/EDUCAT">Department for Education</option>
    <option value="2015/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2015/INTDEV">Department for International Development</option>
    <option value="2015/TRNSPT">Department for Transport</option>
    <option value="2015/WRKPEN">Department for Work and Pensions</option>
    <option value="2015/ENGCLM">Department of Energy and Climate Change</option>
    <option value="2015/HEALTH">Department of Health and Social Care</option>
    <option value="2015/DSCSCT">Disclosure Scotland</option>
    <option value="2015/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2015/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2015/DSTL">Dstl</option>
    <option value="2015/EDUSCT">Education Scotland</option>
    <option value="2015/ESTYN">Estyn</option>
    <option value="2015/FCDSRV">FCDO Services</option>
    <option value="2015/FDSTDS">Food Standards Agency</option>
    <option value="2015/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2015/GVACTS">Government Actuary's Department</option>
    <option value="2015/INTAUD">Government Internal Audit Agency</option>
    <option value="2015/GOVLEG">Government Legal Department</option>
    <option value="2015/HMCPSI">HM CPS Inspectorate</option>
    <option value="2015/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2015/ISPCNS">HM Inspectorate of Constabulary</option>
    <option value="2015/LNDREG">HM Land Registry</option>
    <option value="2015/PSSOFF">HM Passport Office</option>
    <option value="2015/PRISON">HM Prison Service</option>
    <option value="2015/HMRC">HM Revenue and Customs</option>
    <option value="2015/HMTRES">HM Treasury</option>
    <option value="2015/HELSFT">Health and Safety Executive</option>
    <option value="2015/HOMEOF">Home Office</option>
    <option value="2015/HOFGRP">Home Office (group)</option>
    <option value="2015/BRDFCE">Home Office: Border Force</option>
    <option value="2015/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2015/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2015/INTPRP">Intellectual Property Office</option>
    <option value="2015/LEGAID">Legal Aid Agency</option>
    <option value="2015/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2015/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2015/METOFF">Met Office</option>
    <option value="2015/MINDEF">Ministry of Defence</option>
    <option value="2015/MINJST">Ministry of Justice</option>
    <option value="2015/JSTGRP">Ministry of Justice (group)</option>
    <option value="2015/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2015/NATCRM">National Crime Agency</option>
    <option value="2015/NATMSR">National Measurement and Regulation Office</option>
    <option value="2015/NOMSHQ">National Offender Management Service headquarters</option>
    <option value="2015/NATPRB">National Probation Service</option>
    <option value="2015/NTRCSC">National Records of Scotland</option>
    <option value="2015/NATSAV">National Savings and Investments</option>
    <option value="2015/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2015/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2015/OFRLRD">Office of Rail and Road</option>
    <option value="2015/OFPBGD">Office of the Public Guardian</option>
    <option value="2015/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2015/PLNISP">Planning Inspectorate</option>
    <option value="2015/PUBHEL">Public Health England</option>
    <option value="2015/REGSCT">Registers of Scotland</option>
    <option value="2015/REVSCT">Revenue Scotland</option>
    <option value="2015/RURPAY">Rural Payments Agency</option>
    <option value="2015/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2015/SCTCTR">Scottish Courts and Tribunals Service</option>
    <option value="2015/SCTGVT">Scottish Government</option>
    <option value="2015/SCTHUS">Scottish Housing Regulator</option>
    <option value="2015/SCTPRS">Scottish Prison Service</option>
    <option value="2015/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2015/SRSFRD">Serious Fraud Office</option>
    <option value="2015/SKLFND">Skills Funding Agency</option>
    <option value="2015/STAWSC">Student Awards Agency Scotland</option>
    <option value="2015/INSOLV">The Insolvency Service</option>
    <option value="2015/NATARC">The National Archives</option>
    <option value="2015/RYLPRK">The Royal Parks</option>
    <option value="2015/TRNSCT">Transport Scotland</option>
    <option value="2015/UKDMO">UK Debt Management Office</option>
    <option value="2015/EXPFIN">UK Export Finance</option>
    <option value="2015/HYDROG">UK Hydrographic Office</option>
    <option value="2015/STATGP">UK Statistics Agency (group)</option>
    <option value="2015/UKTRDI">UK Trade and Investment</option>
    <option value="2015/VALOFF">Valuation Office Agency</option>
    <option value="2015/VEHCRT">Vehicle Certification Agency</option>
    <option value="2015/VETMED">Veterinary Medicines Directorate</option>
    <option value="2015/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
