<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2020/ACAS">Acas</option>
    <option value="2020/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2020/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2020/ATTGEN">Attorney General's Office</option>
    <option value="2020/CABOFF">Cabinet Office</option>
    <option value="2020/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2020/CRTCOM">Charity Commission</option>
    <option value="2020/CMPHSE">Companies House</option>
    <option value="2020/CMPMKT">Competition and Markets Authority</option>
    <option value="2020/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2020/CRNCOM">Crown Commercial Service</option>
    <option value="2020/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2020/CRNPRS">Crown Prosecution Service</option>
    <option value="2020/DEFELC">Defence Electronics and Components Agency</option>
    <option value="2020/DEFEQP">Defence Equipment and Support</option>
    <option value="2020/BUSENG">Department for Business, Energy and Industrial Strategy</option>
    <option value="2020/DGCLMD">Department for Digital, Culture, Media and Sport</option>
    <option value="2020/EDUCAT">Department for Education</option>
    <option value="2020/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2020/INTTRD">Department for International Trade</option>
    <option value="2020/TRNSPT">Department for Transport</option>
    <option value="2020/WRKPEN">Department for Work and Pensions</option>
    <option value="2020/HEALTH">Department of Health and Social Care</option>
    <option value="2020/DSCSCT">Disclosure Scotland</option>
    <option value="2020/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2020/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2020/DSTL">Dstl</option>
    <option value="2020/EDUSCT">Education Scotland</option>
    <option value="2020/ESTYN">Estyn</option>
    <option value="2020/FCDSRV">FCDO Services</option>
    <option value="2020/FDSTDS">Food Standards Agency</option>
    <option value="2020/FDSTSC">Food Standards Scotland</option>
    <option value="2020/FRCMDV">Foreign, Commonwealth and Development Office</option>
    <option value="2020/FRLDSC">Forestry and Land Scotland</option>
    <option value="2020/GVACTS">Government Actuary's Department</option>
    <option value="2020/INTAUD">Government Internal Audit Agency</option>
    <option value="2020/GOVLEG">Government Legal Department</option>
    <option value="2020/GVPRPT">Government Property Agency</option>
    <option value="2020/HMCPSI">HM CPS Inspectorate</option>
    <option value="2020/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2020/ISCFRS">HM Inspectorate of Constabulary and Fire and Rescue Services</option>
    <option value="2020/LNDREG">HM Land Registry</option>
    <option value="2020/PSSOFF">HM Passport Office</option>
    <option value="2020/PRISON">HM Prison Service</option>
    <option value="2020/PRPBHQ">HM Prison and Probation Service Headquarters</option>
    <option value="2020/HMRC">HM Revenue and Customs</option>
    <option value="2020/HMTRES">HM Treasury</option>
    <option value="2020/HELSFT">Health and Safety Executive</option>
    <option value="2020/HOMEOF">Home Office</option>
    <option value="2020/HOFGRP">Home Office (group)</option>
    <option value="2020/BRDFCE">Home Office: Border Force</option>
    <option value="2020/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2020/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2020/APPTCH">Institute for Apprenticeships and Technical Education</option>
    <option value="2020/INTPRP">Intellectual Property Office</option>
    <option value="2020/LEGAID">Legal Aid Agency</option>
    <option value="2020/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2020/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2020/METOFF">Met Office</option>
    <option value="2020/MINDEF">Ministry of Defence</option>
    <option value="2020/HSCMLG">Ministry of Housing, Communities and Local Government</option>
    <option value="2020/MINJST">Ministry of Justice</option>
    <option value="2020/JSTGRP">Ministry of Justice (group)</option>
    <option value="2020/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2020/NHSTAT">NHS Test and Trace</option>
    <option value="2020/NATCRM">National Crime Agency</option>
    <option value="2020/NATINF">National Infrastructure Commission</option>
    <option value="2020/NATPRB">National Probation Service</option>
    <option value="2020/NTRCSC">National Records of Scotland</option>
    <option value="2020/NATSAV">National Savings and Investments</option>
    <option value="2020/ONS">Office for National Statistics</option>
    <option value="2020/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2020/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2020/OFQUAL">Office of Qualifications and Examinations Regulation</option>
    <option value="2020/OFRLRD">Office of Rail and Road</option>
    <option value="2020/OFPBGD">Office of the Public Guardian</option>
    <option value="2020/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2020/PLNISP">Planning Inspectorate</option>
    <option value="2020/PUBHEL">Public Health England</option>
    <option value="2020/REGSCT">Registers of Scotland</option>
    <option value="2020/REVSCT">Revenue Scotland</option>
    <option value="2020/RURPAY">Rural Payments Agency</option>
    <option value="2020/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2020/SCTCTR">Scottish Courts and Tribunals Service</option>
    <option value="2020/SCFRST">Scottish Forestry</option>
    <option value="2020/SCTGVT">Scottish Government</option>
    <option value="2020/SCTHUS">Scottish Housing Regulator</option>
    <option value="2020/SCTPRS">Scottish Prison Service</option>
    <option value="2020/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2020/SRSFRD">Serious Fraud Office</option>
    <option value="2020/SCSESC">Social Security Scotland</option>
    <option value="2020/STAWSC">Student Awards Agency Scotland</option>
    <option value="2020/SUBDEL">Submarine Delivery Agency</option>
    <option value="2020/INSOLV">The Insolvency Service</option>
    <option value="2020/NATARC">The National Archives</option>
    <option value="2020/TRNSCT">Transport Scotland</option>
    <option value="2020/UKDMO">UK Debt Management Office</option>
    <option value="2020/EXPFIN">UK Export Finance</option>
    <option value="2020/HYDROG">UK Hydrographic Office</option>
    <option value="2020/UKSPCE">UK Space Agency</option>
    <option value="2020/UKSTAT">UK Statistics Agency</option>
    <option value="2020/STATGP">UK Statistics Agency (group)</option>
    <option value="2020/VALOFF">Valuation Office Agency</option>
    <option value="2020/VEHCRT">Vehicle Certification Agency</option>
    <option value="2020/VETMED">Veterinary Medicines Directorate</option>
    <option value="2020/OFWAT">Water Services Regulation Authority (Ofwat)</option>
    <option value="2020/WLSGVT">Welsh Government</option>
    <option value="2020/WLSREV">Welsh Revenue Authority</option>
    <option value="2020/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
