<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2019/ACAS">Acas</option>
    <option value="2019/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2019/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2019/ATTGEN">Attorney General's Office</option>
    <option value="2019/CABOFF">Cabinet Office</option>
    <option value="2019/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2019/CRTCOM">Charity Commission</option>
    <option value="2019/CMPHSE">Companies House</option>
    <option value="2019/CMPMKT">Competition and Markets Authority</option>
    <option value="2019/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2019/CRNCOM">Crown Commercial Service</option>
    <option value="2019/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2019/CRNPRS">Crown Prosecution Service</option>
    <option value="2019/DEFELC">Defence Electronics and Components Agency</option>
    <option value="2019/DEFEQP">Defence Equipment and Support</option>
    <option value="2019/BUSENG">Department for Business, Energy and Industrial Strategy</option>
    <option value="2019/DGCLMD">Department for Digital, Culture, Media and Sport</option>
    <option value="2019/EDUCAT">Department for Education</option>
    <option value="2019/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2019/EXITEU">Department for Exiting the European Union</option>
    <option value="2019/INTDEV">Department for International Development</option>
    <option value="2019/INTTRD">Department for International Trade</option>
    <option value="2019/TRNSPT">Department for Transport</option>
    <option value="2019/WRKPEN">Department for Work and Pensions</option>
    <option value="2019/HEALTH">Department of Health and Social Care</option>
    <option value="2019/DSCSCT">Disclosure Scotland</option>
    <option value="2019/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2019/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2019/DSTL">Dstl</option>
    <option value="2019/EDUSCT">Education Scotland</option>
    <option value="2019/ESTYN">Estyn</option>
    <option value="2019/FCDSRV">FCDO Services</option>
    <option value="2019/FDSTDS">Food Standards Agency</option>
    <option value="2019/FDSTSC">Food Standards Scotland</option>
    <option value="2019/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2019/FRLDSC">Forestry and Land Scotland</option>
    <option value="2019/GVACTS">Government Actuary's Department</option>
    <option value="2019/GOVEQU">Government Equalities Office</option>
    <option value="2019/INTAUD">Government Internal Audit Agency</option>
    <option value="2019/GOVLEG">Government Legal Department</option>
    <option value="2019/GVPRPT">Government Property Agency</option>
    <option value="2019/HMCPSI">HM CPS Inspectorate</option>
    <option value="2019/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2019/ISCFRS">HM Inspectorate of Constabulary and Fire and Rescue Services</option>
    <option value="2019/LNDREG">HM Land Registry</option>
    <option value="2019/PSSOFF">HM Passport Office</option>
    <option value="2019/PRISON">HM Prison Service</option>
    <option value="2019/PRPBHQ">HM Prison and Probation Service Headquarters</option>
    <option value="2019/HMRC">HM Revenue and Customs</option>
    <option value="2019/HMTRES">HM Treasury</option>
    <option value="2019/HELSFT">Health and Safety Executive</option>
    <option value="2019/HOMEOF">Home Office</option>
    <option value="2019/HOFGRP">Home Office (group)</option>
    <option value="2019/BRDFCE">Home Office: Border Force</option>
    <option value="2019/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2019/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2019/INTPRP">Intellectual Property Office</option>
    <option value="2019/LEGAID">Legal Aid Agency</option>
    <option value="2019/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2019/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2019/METOFF">Met Office</option>
    <option value="2019/MINDEF">Ministry of Defence</option>
    <option value="2019/HSCMLG">Ministry of Housing, Communities and Local Government</option>
    <option value="2019/MINJST">Ministry of Justice</option>
    <option value="2019/JSTGRP">Ministry of Justice (group)</option>
    <option value="2019/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2019/NATCRM">National Crime Agency</option>
    <option value="2019/NATINF">National Infrastructure Commission</option>
    <option value="2019/NATPRB">National Probation Service</option>
    <option value="2019/NTRCSC">National Records of Scotland</option>
    <option value="2019/NATSAV">National Savings and Investments</option>
    <option value="2019/ONS">Office for National Statistics</option>
    <option value="2019/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2019/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2019/OFQUAL">Office of Qualifications and Examinations Regulation</option>
    <option value="2019/OFRLRD">Office of Rail and Road</option>
    <option value="2019/OFPBGD">Office of the Public Guardian</option>
    <option value="2019/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2019/PLNISP">Planning Inspectorate</option>
    <option value="2019/PUBHEL">Public Health England</option>
    <option value="2019/REGSCT">Registers of Scotland</option>
    <option value="2019/REVSCT">Revenue Scotland</option>
    <option value="2019/RURPAY">Rural Payments Agency</option>
    <option value="2019/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2019/SCTCTR">Scottish Courts and Tribunals Service</option>
    <option value="2019/SCFRST">Scottish Forestry</option>
    <option value="2019/SCTGVT">Scottish Government</option>
    <option value="2019/SCTHUS">Scottish Housing Regulator</option>
    <option value="2019/SCTPRS">Scottish Prison Service</option>
    <option value="2019/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2019/SRSFRD">Serious Fraud Office</option>
    <option value="2019/SCSESC">Social Security Scotland</option>
    <option value="2019/STAWSC">Student Awards Agency Scotland</option>
    <option value="2019/SUBDEL">Submarine Delivery Agency</option>
    <option value="2019/INSOLV">The Insolvency Service</option>
    <option value="2019/NATARC">The National Archives</option>
    <option value="2019/TRNSCT">Transport Scotland</option>
    <option value="2019/UKDMO">UK Debt Management Office</option>
    <option value="2019/EXPFIN">UK Export Finance</option>
    <option value="2019/HYDROG">UK Hydrographic Office</option>
    <option value="2019/UKSPCE">UK Space Agency</option>
    <option value="2019/UKSTAT">UK Statistics Agency</option>
    <option value="2019/STATGP">UK Statistics Agency (group)</option>
    <option value="2019/VALOFF">Valuation Office Agency</option>
    <option value="2019/VEHCRT">Vehicle Certification Agency</option>
    <option value="2019/VETMED">Veterinary Medicines Directorate</option>
    <option value="2019/OFWAT">Water Services Regulation Authority (Ofwat)</option>
    <option value="2019/WLSREV">Welsh Revenue Authority</option>
    <option value="2019/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
