<form id="org-select-form" class="mb-5" method="dialog">
  <select id="org-select" name="organisations" aria-label="Select an organisation">
    <option value="">Select an organisation</option>
    <option value="2017/ACAS">Acas</option>
    <option value="2017/ACTIBK">Accountant in Bankruptcy</option>
    <option value="2017/ANPHEL">Animal and Plant Health Agency</option>
    <option value="2017/ATTGEN">Attorney General's Office</option>
    <option value="2017/CABOFF">Cabinet Office</option>
    <option value="2017/CEFAS">Centre for Environment, Fisheries and Aquaculture Science</option>
    <option value="2017/CRTCOM">Charity Commission</option>
    <option value="2017/CSRVHR">Civil Service HR</option>
    <option value="2017/CMPHSE">Companies House</option>
    <option value="2017/CMPMKT">Competition and Markets Authority</option>
    <option value="2017/CRMINJ">Criminal Injuries Compensation Authority</option>
    <option value="2017/CRNCOM">Crown Commercial Service</option>
    <option value="2017/COPFSV">Crown Office and Procurator Fiscal Service</option>
    <option value="2017/CRNPRS">Crown Prosecution Service</option>
    <option value="2017/DEFELC">Defence Electronics and Components Agency</option>
    <option value="2017/DEFEQP">Defence Equipment and Support</option>
    <option value="2017/BUSENG">Department for Business, Energy and Industrial Strategy</option>
    <option value="2017/COMLGV">Department for Communities and Local Government</option>
    <option value="2017/DGCLMD">Department for Digital, Culture, Media and Sport</option>
    <option value="2017/EDUCAT">Department for Education</option>
    <option value="2017/DEFRA">Department for Environment, Food and Rural Affairs</option>
    <option value="2017/EXITEU">Department for Exiting the European Union</option>
    <option value="2017/INTDEV">Department for International Development</option>
    <option value="2017/INTTRD">Department for International Trade</option>
    <option value="2017/TRNSPT">Department for Transport</option>
    <option value="2017/WRKPEN">Department for Work and Pensions</option>
    <option value="2017/HEALTH">Department of Health and Social Care</option>
    <option value="2017/DSCSCT">Disclosure Scotland</option>
    <option value="2017/DRVLIC">Driver and Vehicle Licensing Agency</option>
    <option value="2017/DRVHST">Driver and Vehicle Standards Agency</option>
    <option value="2017/DSTL">Dstl</option>
    <option value="2017/EDUSCT">Education Scotland</option>
    <option value="2017/ESTYN">Estyn</option>
    <option value="2017/FCDSRV">FCDO Services</option>
    <option value="2017/FDSTDS">Food Standards Agency</option>
    <option value="2017/FDSTSC">Food Standards Scotland</option>
    <option value="2017/FORCOM">Foreign and Commonwealth Office</option>
    <option value="2017/GVACTS">Government Actuary's Department</option>
    <option value="2017/INTAUD">Government Internal Audit Agency</option>
    <option value="2017/GOVLEG">Government Legal Department</option>
    <option value="2017/HMCPSI">HM CPS Inspectorate</option>
    <option value="2017/CRTTRB">HM Courts and Tribunals Service</option>
    <option value="2017/ISCFRS">HM Inspectorate of Constabulary and Fire and Rescue Services</option>
    <option value="2017/LNDREG">HM Land Registry</option>
    <option value="2017/PSSOFF">HM Passport Office</option>
    <option value="2017/PRISON">HM Prison Service</option>
    <option value="2017/PRPBHQ">HM Prison and Probation Service Headquarters</option>
    <option value="2017/HMRC">HM Revenue and Customs</option>
    <option value="2017/HMTRES">HM Treasury</option>
    <option value="2017/HELSFT">Health and Safety Executive</option>
    <option value="2017/HOMEOF">Home Office</option>
    <option value="2017/HOFGRP">Home Office (group)</option>
    <option value="2017/BRDFCE">Home Office: Border Force</option>
    <option value="2017/IMMENF">Home Office: Immigration Enforcement</option>
    <option value="2017/VISAIM">Home Office: UK Visas and Immigration</option>
    <option value="2017/INTPRP">Intellectual Property Office</option>
    <option value="2017/LEGAID">Legal Aid Agency</option>
    <option value="2017/MRTCST">Maritime and Coastguard Agency</option>
    <option value="2017/MEDPRD">Medicines and Healthcare products Regulatory Agency</option>
    <option value="2017/METOFF">Met Office</option>
    <option value="2017/MINDEF">Ministry of Defence</option>
    <option value="2017/MINJST">Ministry of Justice</option>
    <option value="2017/JSTGRP">Ministry of Justice (group)</option>
    <option value="2017/JSTARM">Ministry of Justice Arm's Length and Other Bodies</option>
    <option value="2017/NATCRM">National Crime Agency</option>
    <option value="2017/NATPRB">National Probation Service</option>
    <option value="2017/NTRCSC">National Records of Scotland</option>
    <option value="2017/NATSAV">National Savings and Investments</option>
    <option value="2017/ONS">Office for National Statistics</option>
    <option value="2017/OFSTED">Office for Standards in Education, Children's Services and Skills</option>
    <option value="2017/OFGEM">Office of Gas and Electricity Markets</option>
    <option value="2017/OFQUAL">Office of Qualifications and Examinations Regulation</option>
    <option value="2017/OFRLRD">Office of Rail and Road</option>
    <option value="2017/OFPBGD">Office of the Public Guardian</option>
    <option value="2017/OFSCCR">Office of the Scottish Charity Regulator</option>
    <option value="2017/PLNISP">Planning Inspectorate</option>
    <option value="2017/PUBHEL">Public Health England</option>
    <option value="2017/REGSCT">Registers of Scotland</option>
    <option value="2017/REVSCT">Revenue Scotland</option>
    <option value="2017/RURPAY">Rural Payments Agency</option>
    <option value="2017/SCWLNI">Scotland, Wales and Northern Ireland Offices, and the Office of the Advocate General</option>
    <option value="2017/SCTCTR">Scottish Courts and Tribunals Service</option>
    <option value="2017/SCTGVT">Scottish Government</option>
    <option value="2017/SCTHUS">Scottish Housing Regulator</option>
    <option value="2017/SCTPRS">Scottish Prison Service</option>
    <option value="2017/SCTPEN">Scottish Public Pensions Agency</option>
    <option value="2017/SRSFRD">Serious Fraud Office</option>
    <option value="2017/STAWSC">Student Awards Agency Scotland</option>
    <option value="2017/INSOLV">The Insolvency Service</option>
    <option value="2017/NATARC">The National Archives</option>
    <option value="2017/TRNSCT">Transport Scotland</option>
    <option value="2017/UKDMO">UK Debt Management Office</option>
    <option value="2017/EXPFIN">UK Export Finance</option>
    <option value="2017/HYDROG">UK Hydrographic Office</option>
    <option value="2017/UKSTAT">UK Statistics Agency</option>
    <option value="2017/STATGP">UK Statistics Agency (group)</option>
    <option value="2017/VALOFF">Valuation Office Agency</option>
    <option value="2017/VEHCRT">Vehicle Certification Agency</option>
    <option value="2017/VETMED">Veterinary Medicines Directorate</option>
    <option value="2017/WLSGVT">Welsh Government</option>
    <option value="2017/WLTPRK">Wilton Park</option>
  </select>
  <input type="submit" id="org-results-go" class="action-button" value="Go"/>
</form>
