/* css styles */
.plex {
    font-family: 'IBM Plex Sans', sans-serif;
}

.plex-thin {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.newsreader {
    font-family: 'Newsreader', sans-serif;
}

.inconsolata {
    font-family: 'Inconsolata', sans-serif;
}